* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1 {
    font-family: 'Verdana';
    text-align: center;
}

h2 {
    font-family: 'Verdana';
    text-align: center;
}

p {
    font-family: 'Verdana';
    text-align: center;
}


header {
    padding-top: 40px;
}


.main-heading {
    font-weight: normal;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}


.nav-link {
    font-family: 'Verdana';
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 40px;
}


video {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}



.section-heading {
    font-weight: 300;
    font-size: 42px;
    color: white;
    margin-bottom: 40px;
}

.tagline {
    font-size: 21px;
    color: gray;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

section img {
    max-width: 80%;
    height: auto;
}

.phone {
    margin-top: 20px;
}

