* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h1,
h2,
.nav-link{
    font-family: 'Verdana';
    text-align: center;
}

.main-heading {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.nav-link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}





.section-heading {
    font-weight: 300;
    font-size: 42px;
}